In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel("./datasets/bikesales_clean.xlsx")

In [7]:
df

,sales_order,order_conflict,date,customer_age,age_group,customer_gender,country,state,product_description,product_color,frame_size,order_quantity,unit_cost,unit_price,profit,cost,revenue
0,261695,True,2021-12-01,39,adults (35-64),f,united states,california,mountain-200,black,46.0,4,1252,2295,4172,5008,9180
1,261695,True,2021-12-01,44,adults (35-64),m,united kingdom,england,mountain-200,silver,42.0,1,1266,2320,1054,1266,2320
2,261697,False,2021-12-02,37,adults (35-64),m,united states,california,mountain-400-w,silver,46.0,2,420,769,698,840,1538
3,261698,False,2021-12-02,31,young adults (25-34),f,australia,new south wales,mountain-400-w,silver,42.0,1,420,769,349,420,769
4,261699,False,2021-12-03,37,adults (35-64),f,united states,california,mountain-200,black,46.0,2,1252,2295,2086,2504,4590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,261778,False,2021-12-22,41,adults (35-64),m,germany,hessen,mountain-200,silver,38.0,1,1266,2320,1054,1266,2320
84,261779,False,2021-12-23,30,young adults (25-34),f,united states,oregon,mountain-200,silver,42.0,1,1266,2320,1054,1266,2320
85,261780,False,2021-12-23,31,young adults (25-34),f,canada,british columbia,mountain-200,black,42.0,1,1252,2295,1043,1252,2295
86,261781,False,2021-12-23,35,adults (35-64),f,united states,california,mountain-500,black,42.0,1,295,540,245,295,540
87,261782,False,2021-12-24,38,adults (35-64),m,australia,queensland,mountain-200,black,42.0,4,1252,2295,4172,5008,9180